{import 'sidebar.latte'}

{block main}
    <h2>{_admin.users.users_detail_heading, ['name' => $detailUser->getDisplayName()]}</h2>

    {snippet userDetail}
        <h3>{_admin.users.users_detail_personal_details}</h3>
        <div class="card card-body bg-light pb-1 mb-3">
            {if !$editPersonalDetails}
                <div class="form-group row" n:if="$detailUser->getPhoto()">
                    <div class="col-3">{_admin.users.users_photo}</div>
                    <div class="col-9"><img src="{$basePath}/files/user_photos/{$detailUser->getPhoto()}"/></div>
                </div>

                <div class="form-group row" n:if="!$detailUser->isExternalLector()">
                    <div class="col-3">{_admin.users.users_username}</div>
                    <div class="col-9">{$detailUser->getUserName()}</div>
                </div>

                <div class="form-group row">
                    <div class="col-3">{_admin.users.users_firstname}</div>
                    <div class="col-9">{$detailUser->getFirstName()}</div>
                </div>

                <div class="form-group row">
                    <div class="col-3">{_admin.users.users_lastname}</div>
                    <div class="col-9">{$detailUser->getLastName()}</div>
                </div>

                <div class="form-group row" n:if="$detailUser->getNickName()">
                    <div class="col-3">{_admin.users.users_nickname}</div>
                    <div class="col-9">{$detailUser->getNickName()}</div>
                </div>

                <div class="form-group row" n:if="$detailUser->getDegreePre()">
                    <div class="col-3">{_admin.users.users_degree_pre}</div>
                    <div class="col-9">{$detailUser->getDegreePre()}</div>
                </div>

                <div class="form-group row" n:if="$detailUser->getDegreePost()">
                    <div class="col-3">{_admin.users.users_degree_post}</div>
                    <div class="col-9">{$detailUser->getDegreePost()}</div>
                </div>

                <div class="form-group row">
                    <div class="col-3">{_admin.users.users_birthdate}</div>
                    <div class="col-9" n:if="$detailUser->getBirthdate()">
                        {_admin.users.users_detail_birthdate_age, ['birthdate' => $detailUser->getBirthdate()->format('j. n. Y'), 'age' => $detailUser->getAge()]}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">{_admin.users.users_email}</div>
                    <div class="col-9"><a href="mailto:{$detailUser->getEmail()}">{$detailUser->getEmail()}</a></div>
                </div>

                <div class="form-group row">
                    <div class="col-3">{_admin.users.users_address}</div>
                    <div class="col-9">{$detailUser->getAddress()}</div>
                </div>

                <div class="form-group row" n:if="!$detailUser->isExternalLector()">
                    <div class="col-3">{_admin.users.users_last_login}</div>
                    <div class="col-9">{$detailUser->getLastLogin()|date:'j. n. Y H:i'}</div>
                </div>

                <div class="form-group row" n:if="$detailUser->isExternalLector()">
                    <div class="col-9 offset-3"><a n:href="editPersonalDetails!" class="btn btn-secondary ajax">{_admin.common.edit}</a></div>
                </div>
            {else}
                {control editUserPersonalDetailsForm}
            {/if}
        </div>

        <h3>{_admin.users.users_detail_applications}</h3>
        {control applicationsGrid}

        <h3>{_admin.users.users_detail_seminar}</h3>
        <div class="card card-body bg-light pb-1 mb-3">
            {if !$editSeminar}
                <div class="form-group row">
                    <div class="col-3">{_admin.users.users_roles}</div>
                    <div class="col-9">{$detailUser->getRolesText()}</div>
                </div>

                {if !$detailUser->isExternalLector()}
                    <div class="form-group row">
                        <div class="col-3">{_admin.users.users_approved_detail}</div>
                        <div class="col-9">
                            {if $detailUser->isApproved()}
                                {_admin.common.yes}
                            {else}
                                {_admin.common.no}
                            {/if}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">{_admin.users.users_attended_detail}</div>
                        <div class="col-9">
                            {if $detailUser->isAttended()}
                                {_admin.common.yes}
                            {else}
                                {_admin.common.no}
                            {/if}
                        </div>
                    </div>

                    <div class="form-group row" n:foreach="$customInputs as $customInput">
                        <div class="col-3">{$customInput->getName()}</div>
                        <div class="col-9">
                            {var $customInputValue = $detailUser->getCustomInputValue($customInput)}
                            {if $customInputValue}
                                {switch $customInput->getType()}
                                    {case $customInputTypeCheckbox}
                                        {if $customInputValue->getValue()}
                                            {_admin.common.yes}
                                        {else}
                                            {_admin.common.no}
                                        {/if}
                                    {case $customInputTypeFile}
                                        <a href="{$basePath}/files{$customInputValue->getValue()}" target="_blank" n:if="$customInputValue->getValue() !== null">
                                            {array_values(array_slice(explode('/', $customInputValue->getValue()), -1))[0]}
                                        </a>
                                    {default}
                                        {$customInputValue->getValueText()}
                                {/switch}
                            {/if}
                        </div>
                    </div>
                {/if}

                <div class="form-group row">
                    <div class="col-3">{_admin.users.users_about_me}</div>
                    <div class="col-9">{$detailUser->getAbout()|breaklines}</div>
                </div>

                <div class="form-group row">
                    <div class="col-3">{_admin.users.users_private_note}</div>
                    <div class="col-9">{$detailUser->getNote()|breaklines}</div>
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <a n:href="editSeminar!" class="btn btn-secondary ajax">{_admin.common.edit}</a>
                        {if $registered}
                            <a n:href="cancelRegistration!" class="btn btn-danger" data-toggle="confirmation" data-content="{_admin.users.users_cancel_registration_confirm}">
                                {_admin.users.users_cancel_registration}
                            </a>
                        {else}
                            <button class="btn btn-danger" disabled>
                                {_admin.users.users_cancel_registration}
                            </button>
                        {/if}
                    </div>
                </div>
            {else}
                {control editUserSeminarForm}
                <script>
                    Nette.validators.AppAdminModuleFormsEditUserSeminarFormFactory_toggleCustomInputVisibility = function (elem, arg, value) {
                        let i;
                        for (i = 0; i < value.length; i++) {
                            if (jQuery.inArray(parseInt(value[i]), arg) !== -1) {
                                return true;
                            }
                        }
                        return false;
                    };
                </script>
            {/if}
        </div>

        {if $detailUser->isAllowed($resourceProgram, $permissionChoosePrograms)}
            <h3>{_admin.users.users_detail_schedule}</h3>
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-right" style="width: 15%">{_admin.users.users_from}</th>
                        <th class="text-right" style="width: 15%">{_admin.users.users_to}</th>
                        <th style="width: 25%">{_admin.users.users_program_name}</th>
                        <th style="width: 20%">{_admin.users.users_room}</th>
                        <th style="width: 25%">{_admin.users.users_lectors}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr n:foreach="$detailUser->getPrograms() as $program">
                        <td class="text-right">
                            {var $startDay = $program->getStart()->format('N')}
                            {_common.day.$startDay}
                            {$program->getStart()|date:"j. n. G:i"}
                        </td>
                        <td class="text-right">
                            {var $endDay = $program->getEnd()->format('N')}
                            {_common.day.$endDay}
                            {$program->getEnd()|date:"j. n. G:i"}
                        </td>
                        <td>{$program->getBlock()->getName()}</td>
                        <td>{if $program->getRoom() !== null}{$program->getRoom()->getName()}{/if}</td>
                        <td>{$program->getBlock()->getLectorsText()}</td>
                    </tr>
                </tbody>
            </table>
        {/if}
    {/snippet}
{/block}
