body {
    min-width: 1200px;
    padding-top: 70px;
    font-size: 14px;
}

.btn, .form-control, .dropdown-menu {
    font-size: 14px;
}

#flashes, .notifications {
    position: fixed;
    top: 62px;
    right: 15px;
    z-index: 1000;
}

/* tabs s tlacitky */
.card-tabs .nav-tabs button {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    padding: 10px 15px;
    color: #007bff;
}

.card-tabs .nav-tabs:hover button {
    background-color: #F8F9FA;
    color: #0056B3;
}

.card-tabs .nav-tabs .active button {
    background-color: #F8F9FA;
    border: 1px solid #ddd;
    border-bottom: 1px solid #F8F9FA;
    color: #333;
}

.card-tabs .card-body {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* povinna pole */
.col-form-label .required::after {
    content: " *";
    color: red;
}

/* mala tlacitka */
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/* odebrani ramecku kolem datagridu */
.datagrid {
    padding: 0;
}

div > .datagrid {
    margin-bottom: 1rem;
}

/* bootstrap-select barva a zakulaceni */
.bootstrap-select > .btn {
    background-color: #ffffff;
    border-color: #ced4da;
    border-radius: 0.3rem;
}

/* oprava select a multiselect v inline editaci */
.datagrid-inline-edit .bootstrap-select {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    font-size: 12px !important;
}

.datagrid-inline-edit .bootstrap-select > .btn {
    padding: 4px 8px 6px 8px !important;
    line-height: 18px !important;
    margin-top: -1px !important;
    font-size: 12px !important;
}

/* oprava file input v inline editaci */
.datagrid-inline-edit .kv-fileinput-caption {
    font-size: 12px !important;
    padding: 4px 12px 5px 12px !important;
    margin-top: 0 !important;
    height: 28px !important;
}

.datagrid-inline-edit .btn-file {
    font-size: 12px !important;
    padding: 4px 12px 5px 12px !important;
    margin-left: -4px !important;
    height: 28px !important;
}

.datagrid .row-item-detail {
    background-color: #337ab7 !important;
}

/* neaktivni zaznamy */
.datagrid .disabled {
    color: #70757D !important;
}

/* prekryti hlavicky ve fullscreen modu TinyMCE */
div.mce-fullscreen {
    z-index: 1050;
}

/* zarovnani fullscreen tlacitka TinyMCE doprava */
.mce-btn-group:last-child {
    float:right;
    border-left: none !important;
}

/* vyber role */
#role-menu-text {
    max-width: 220px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
}

