{block head}
    <script>
        var basePath = {$basePath};
    </script>
{/block}

<div class="clearfix"></div>

<div class="programs-content">
    <div class="row">
        <div class="col">
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            {if $guestRole}
                <div class="alert alert-warning alert-forever">
                    {_web.programs_content.login_required_begin}
                    <a href="{plink :Auth:login, 'backlink' => $backlink}">{_web.programs_content.login_required_link}</a>{_web.programs_content.login_required_end}
                </div>
            {else}
                {if !$userHasPermission}
                    <div class="alert alert-warning alert-forever">
                        {_web.programs_content.unapproved_register_programs}
                    </div>
                {elseif !$registerProgramsAllowed}
                    <div class="alert alert-warning alert-forever">
                        {if $registerProgramsNotAllowed}
                            {_web.programs_content.register_programs_not_allowed}
                        {else}
                            {if $registerProgramsFrom !== null && $registerProgramsTo !== null}
                                {_web.programs_content.register_programs_allowed_from_to, ['from' => $registerProgramsFrom->format('j. n. Y G:i'), 'to' => $registerProgramsTo->format('j. n. Y G:i')]}
                            {elseif $registerProgramsFrom === null && $registerProgramsTo !== null}
                                {_web.programs_content.register_programs_was_allowed_to, ['to' => $registerProgramsTo->format('j. n. Y G:i')]}
                            {elseif $registerProgramsFrom !== null && $registerProgramsTo === null}
                                {_web.programs_content.register_programs_is_allowed_from, ['from' => $registerProgramsFrom->format('j. n. Y G:i')]}
                            {/if}
                        {/if}
                    </div>
                {elseif $userWaitingForPayment}
                    <div class="alert alert-warning alert-forever">
                        {_web.programs_content.register_programs_allowed_after_payment}
                    </div>
                {/if}

                {var $userAllowedRegisterPrograms = $registerProgramsAllowed && $userHasPermission}
                <script>
                    var userAllowedRegisterPrograms = {$userAllowedRegisterPrograms};
                </script>

                <div id='calendar'></div>
                <script src="{$basePath}/dist/web/schedule/main.min.js"></script>
            {/if}
        </div>
    </div>
</div>
