{block content}
    {foreach $applications as $application}
        {if $application->getPaymentMethod() === $paymentMethodCash}
            <div class="row mb-3">
                <div class="col-8">
                    <h1 style="padding-top: 24px">{_export.income_proof.cash.heading}</h1>
                </div>
                <div class="col-4 text-right">
                    <img src="{$basePath}/files/logo/{$logo}" style="max-height: 60px"/>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-8">
                    <div style="border: 1px solid #000; border-radius: 15px; padding: 10px">
                        {$company|breakLines}
                        <br>
                        {_export.income_proof.ico} {$ico}
                    </div>
                </div>
                <div class="col-4 text-right">
                    {_export.income_proof.cash.number} {$application->getIncomeProof()->getId()}
                    {_export.income_proof.cash.date} {$application->getIncomeProof()->getDateText()}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    {_export.income_proof.cash.name} {$application->getUser()->getFirstName()} {$application->getUser()->getLastName()}
                    &emsp;
                    {_export.income_proof.cash.address} {$application->getUser()->getStreet()}, {$application->getUser()->getPostcode()} {$application->getUser()->getCity()}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    {_export.income_proof.cash.purpose} {$seminarName}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    {_export.income_proof.cash.fee} =={$application->getFee()},00==
                    &emsp;
                    {_export.income_proof.cash.fee_words} =={$application->getFeeWords()}==
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-3 offset-9">
                    {_export.income_proof.cash.sign}
                </div>
            </div>
        {elseif $application->getPaymentMethod() === $paymentMethodBank}
            <div class="row mb-3">
                <div class="col-8">
                    <h1 style="padding-top: 24px">{_export.income_proof.bank.heading}</h1>
                </div>
                <div class="col-4 text-right">
                    <img src="{$basePath}/files/logo/{$logo}" style="max-height: 60px"/>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div style="border: 1px solid #000; border-radius: 15px; padding: 10px">
                        {$company|breakLines}
                        <br>
                        {_export.income_proof.ico} {$ico}
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    {_export.income_proof.bank.purpose} {$seminarName}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    {_export.income_proof.bank.fee} {$application->getFee()},00 {_export.income_proof.bank.fee_unit}
                    ({_export.income_proof.bank.fee_words} {$application->getFeeWords()} {_export.income_proof.bank.fee_unit})
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    {_export.income_proof.bank.name} {$application->getUser()->getFirstName()} {$application->getUser()->getLastName()}
                    ({_export.income_proof.bank.address} {$application->getUser()->getStreet()}, {$application->getUser()->getPostcode()} {$application->getUser()->getCity()})
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 text-right">
                    {_export.income_proof.bank.accountant} {$accountant} {_export.income_proof.bank.date} {$date}
                </div>
            </div>
        {/if}
        {sep}<pagebreak>{/sep}
    {/foreach}
{/block}