/** rozvrzeni stranek */

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff2') format('woff2'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff2') format('woff2'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.svg#themix') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff2') format('woff2'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff2') format('woff2'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.svg#themix') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'skautbold';
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: themix, sans-serif;
    font-size: 14px;
}

h1 {
    font-family: skautbold, sans-serif;
    font-weight: normal;
}

p {
    font-weight: 400;
    font-style: normal;
}

#flashes .alert {
    margin-top: 10px;
}

#user-menu {
    line-height: 2.5em;
}

/* povinna pole */
.col-form-label .required::after {
    content: " *";
    color: red;
}

/* image content */
.image-wrapper {
    margin: 10px 0;
}

.image-wrapper.left {
    float: left;
    margin-right: 10px;
}

.image-wrapper.right {
    float: right;
    margin-left: 10px;
}

.image-wrapper.center {
    margin: 10px auto;
}

/* programs content */
.programs-content .notifications .alert {
    padding: 6px 15px;
}

/* odebrani ramecku kolem datagridu */
.datagrid {
    padding: 0 !important;
}

/* bootstrap-select barva a zakulaceni */
.bootstrap-select > .btn {
    background-color: #ffffff;
    border-color: #ced4da;
    border-radius: 0.3rem;
}

/* mala tlacitka */
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/* oprava select a multiselect v inline editaci */
.datagrid-inline-edit .bootstrap-select {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    font-size: 12px !important;
}

.datagrid-inline-edit .bootstrap-select > .btn {
    padding: 4px 8px 6px 8px !important;
    line-height: 18px !important;
    margin-top: -1px !important;
    font-size: 12px !important;
}

/* oprava file input v inline editaci */
.datagrid-inline-edit .kv-fileinput-caption {
    font-size: 12px !important;
    padding: 4px 12px 5px 12px !important;
    margin-top: 0 !important;
    height: 28px !important;
}

.datagrid-inline-edit .btn-file {
    font-size: 12px !important;
    padding: 4px 12px 5px 12px !important;
    margin-left: -4px !important;
    height: 28px !important;
}

/* neaktivni zaznamy */
.datagrid .disabled {
    color: #70757D !important;
}