{block head}
    <script>
        var basePath = {$basePath};
    </script>
{/block}

{block main}
    <h2>{_admin.program.schedule.heading}</h2>
    <div class="alert alert-warning alert-forever" n:if="!$isAllowedModifySchedule">
        {_admin.program.schedule.modify_schedule_is_not_allowed_begin}
        <a href="{plink :Admin:Configuration:Program:default}"
           class="alert-link">{_admin.program.schedule.modify_schedule_is_not_allowed_link}</a>{_admin.program.schedule.modify_schedule_is_not_allowed_end}
    </div>

    <div id='calendar'></div>
    <script src="{$basePath}/dist/admin/schedule/main.min.js"></script>
{/block}

{block sidebar}
    {include #parent}

    <h3>{_admin.program.schedule.blocks_heading}</h3>
    <div id="blocks-list"></div>
{/block}

